body {
    background-color: cadetblue;
}


.container {
    display:flex;
    justify-content: center;
}

#map {
    margin-top: 85px; 
    height: 600px;
    width:60%;
    margin-right: 10px;

}
.infos {
    height: 25%;
    width: 40%;
}



.restaurant h4 {

    margin-top: 3px;
    padding-left: 5px;
}

.restaurant h5 {

    margin-top: 3px;
    padding-left: 5px;
}


.restaurant {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 10px 10px 10px 0;
    padding: 5px;
    background-color: white;
    padding: 3px;
    margin-top: 25px;
    box-shadow: 0 0 1em #acabab;
    border-radius: 10px;
    

    color: black;
}

.restaurant header {
    width: 33%;
}

.mostPopular article .photoRoom {
    object-fit: cover;
    height: 7rem;
    width: 100%;

    border-radius: 25% 0 0 25%;
}

.restaurant header h3 {
    width: 100%;
    height: 10px;

}

.restaurant .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stars {
    display:flex;
    width: 100%;
}

.restaurant .infos .stars {
    align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active=true] {
    color: #ebfc00;
}

.stars .hostingMainCardGradeIcon[data-active=false] {
    color: #d2d4d6;
}
